*

!*/
/build

# whitelisted
!.gitignore
!CMakeLists.txt
!main.cpp
!MainWindow.cpp
!MainWindow.h
!Service.cpp
!Service.h
!ServiceMaintainer.cpp
!ServiceMaintainer.h
!DownloadItem.h
!DownloadItem.cpp
!DownloadConfig.h
!.github/
!.github/workflows/
!.github/workflows/windows-build.yml
!icon.rc
!phoca.ico
!phoca.png
!phoca256.png
!resources.qrc
!About.cpp
!About.h
!i18n/*
!phoca.desktop.in
!io.github.maxipardo.phoca.yml
!.github/workflows/flatpak-build.yml
!cancel_dark.svg
!cancel_light.svg
!folder_dark.svg
!folder_light.svg