*

!*/

# whitelisted
!.gitignore
!CMakeLists.txt
!main.cpp
!MainWindow.cpp
!MainWindow.h
!Service.cpp
!Service.h
!ServiceMaintainer.cpp
!ServiceMaintainer.h
!.github/
!.github/workflows/
!.github/workflows/windows-build.yml
!icon.rc
!phoca.ico
!phoca.png
!resources.qrc
!About.cpp
!About.h
!i18n/*
