build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/phoca
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-3b88a76ea404e7821a63.json
build/.cmake/api/v1/reply/cmakeFiles-v1-99d05609edeedd77a1c5.json
build/.cmake/api/v1/reply/codemodel-v2-2fc6e34c29e767258233.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2026-07-17T13-22-49-0777.json
build/.cmake/api/v1/reply/target-phoca_autogen_timestamp_deps-Debug-949e1ec357eda19ecca3.json
build/.cmake/api/v1/reply/target-phoca_autogen-Debug-5f8f3d7fd9f123a3e92b.json
build/.cmake/api/v1/reply/target-phoca-Debug-c81e66b6a95903a9a81d.json
build/.cmake/api/v1/reply/toolchains-v1-36b02ed8f7d4ebce9071.json
build/.qt/QtDeploySupport.cmake
build/.qt/QtDeployTargets.cmake
build/bin/yt-dlp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.6/CMakeCCompiler.cmake
build/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.6/CMakeSystem.cmake
build/CMakeFiles/3.31.6/CompilerIdC/a.out
build/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.6/CompilerIdCXX/a.out
build/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/phoca.dir/build.make
build/CMakeFiles/phoca.dir/cmake_clean.cmake
build/CMakeFiles/phoca.dir/compiler_depend.internal
build/CMakeFiles/phoca.dir/compiler_depend.make
build/CMakeFiles/phoca.dir/compiler_depend.ts
build/CMakeFiles/phoca.dir/depend.make
build/CMakeFiles/phoca.dir/DependInfo.cmake
build/CMakeFiles/phoca.dir/flags.make
build/CMakeFiles/phoca.dir/link.d
build/CMakeFiles/phoca.dir/link.txt
build/CMakeFiles/phoca.dir/main.cpp.o
build/CMakeFiles/phoca.dir/main.cpp.o.d
build/CMakeFiles/phoca.dir/MainWindow.cpp.o
build/CMakeFiles/phoca.dir/MainWindow.cpp.o.d
build/CMakeFiles/phoca.dir/progress.make
build/CMakeFiles/phoca.dir/Service.cpp.o
build/CMakeFiles/phoca.dir/service.cpp.o
build/CMakeFiles/phoca.dir/Service.cpp.o.d
build/CMakeFiles/phoca.dir/service.cpp.o.d
build/CMakeFiles/phoca.dir/ServiceMaintainer.cpp.o
build/CMakeFiles/phoca.dir/serviceMaintainer.cpp.o
build/CMakeFiles/phoca.dir/ServiceMaintainer.cpp.o.d
build/CMakeFiles/phoca.dir/serviceMaintainer.cpp.o.d
build/CMakeFiles/phoca.dir/phoca_autogen/mocs_compilation.cpp.o
build/CMakeFiles/phoca.dir/phoca_autogen/mocs_compilation.cpp.o.d
build/CMakeFiles/phoca_autogen.dir/AutogenInfo.json
build/CMakeFiles/phoca_autogen.dir/AutogenUsed.txt
build/CMakeFiles/phoca_autogen.dir/build.make
build/CMakeFiles/phoca_autogen.dir/cmake_clean.cmake
build/CMakeFiles/phoca_autogen.dir/compiler_depend.internal
build/CMakeFiles/phoca_autogen.dir/compiler_depend.make
build/CMakeFiles/phoca_autogen.dir/compiler_depend.ts
build/CMakeFiles/phoca_autogen.dir/DependInfo.cmake
build/CMakeFiles/phoca_autogen.dir/ParseCache.txt
build/CMakeFiles/phoca_autogen.dir/progress.make
build/CMakeFiles/phoca_autogen_timestamp_deps.dir/build.make
build/CMakeFiles/phoca_autogen_timestamp_deps.dir/cmake_clean.cmake
build/CMakeFiles/phoca_autogen_timestamp_deps.dir/compiler_depend.make
build/CMakeFiles/phoca_autogen_timestamp_deps.dir/compiler_depend.ts
build/CMakeFiles/phoca_autogen_timestamp_deps.dir/DependInfo.cmake
build/CMakeFiles/phoca_autogen_timestamp_deps.dir/progress.make
build/phoca_autogen/deps
build/phoca_autogen/moc_predefs.h
build/phoca_autogen/mocs_compilation.cpp
build/phoca_autogen/timestamp
build/phoca_autogen/EWIEGA46WW/moc_MainWindow.cpp
build/phoca_autogen/EWIEGA46WW/moc_mainWindow.cpp
build/phoca_autogen/EWIEGA46WW/moc_MainWindow.cpp.d
build/phoca_autogen/EWIEGA46WW/moc_mainWindow.cpp.d
build/phoca_autogen/EWIEGA46WW/moc_Service.cpp
build/phoca_autogen/EWIEGA46WW/moc_Service.cpp.d
build/phoca_autogen/EWIEGA46WW/moc_ServiceMaintainer.cpp
build/phoca_autogen/EWIEGA46WW/moc_ServiceMaintainer.cpp.d
